In [2]:
error = 50.0

while error > 1:
    error = error / 4
    print(error)

12.5
3.125
0.78125

In [12]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

dict_areas = enumerate(areas)

# print(list(dict_areas))
print(dict(dict_areas))

{0: 11.25, 1: 18.0, 2: 20.0, 3: 10.75, 4: 9.5}

In [15]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas, start = 1) :
    print("room " + str(index) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [21]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for name, area in house :
    print('the ' + name + ' is ' + str(area) + ' sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [22]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for cnt, cty in europe.items() :
    print("the capital of " + cnt + " is " + cty)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [44]:
import pandas as pd
cars = pd.read_csv('cars.csv',index_col=0)
print(cars)

for lab,row in cars.iterrows() :
    print(lab,'\n',row["cars_per_cap"],'\n\n')

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True
US
 809


AUS
 731


JAP
 588


IN
 18


RU
 200


MOR
 70


EG
 45

In [46]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for lab,col in cars.iterrows() :
    print(lab)
    print(col)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [52]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows() :
    cars.loc[lab,"COUNTRY"] = row['country'].upper()


# Print cars
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

In [59]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
for lab, row in cars.iterrows() :
    cars.loc[lab, "COUNTRY"] = row["country"].upper()

cars.loc[:,"COUNTRY"] = cars.loc[:,'country'].apply(str.upper)

def square(x):
    return x*2
    
cars.loc[:,'cars_per_cap'] = cars.loc[:,'cars_per_cap'].apply(square)

cars

     cars_per_cap        country  drives_right        COUNTRY
US           1618  United States          True  UNITED STATES
AUS          1462      Australia         False      AUSTRALIA
JAP          1176          Japan         False          JAPAN
IN             36          India         False          INDIA
RU            400         Russia          True         RUSSIA
MOR           140        Morocco          True        MOROCCO
EG             90          Egypt          True          EGYPT